<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple ToDo App</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700,400'>
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body ng-app="VSTDApp" ng-controller="VSTDACtrl as vm" ng-init="vm.getToDo()">
    <div class="container">
<!--         heading -->
        <div class="jumbotron">
            <h1 id="title">Very Simple ToDo App</h1>
        </div>
        <div class="row">
            <!-- todoList table -->
            <div class="col-md-8 col-md-offset-2" id="todolist">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>ToDo List:</h2>
                        <span>
                        <!-- sorting buttons -->
						<div class="btn-group pull-right" role="group" id="orderbuttons">
						    <button type="button" class="btn btn-primary" ng-click="vm.sortToDo('priority')">&#8593 Priority</button>
						    <button type="button" class="btn btn-primary" ng-click="vm.sortToDo('-priority')">&#8595 Priority</button>
						    <button type="button" class="btn btn-primary" ng-click="vm.sortToDo('description')"> ABC</button>
						</div>
					</span>
                    </div>
                    <div class="panel-body">
                        <table id="toDoTable" class="table table-bordered" click-outside="vm.closeTable()">
                            <thead>
                            </thead>
                            <tbody ui-sortable ng-model="vm.toDoList">
                                <tr ng-repeat="todo in vm.toDoList track by $index" ng-class="{urgent: todo.priority == 1, high: todo.priority == 2, moderate: todo.priority == 3, low: todo.priority == 4, complete: todo.priority == 9 }">
                                    <td ng-click="vm.closeAllOtherItems(todo.vstdaEntryId)">
                                        <!-- <input type="checkbox" class="css-checkbox" ng-click="vm.completedItem(todo)">	 -->
                                        <label for "editing-label" ng-click="todo.isBeingEdited = true"> {{todo.description}} </label>
                                        <!-- opens up editing box  -->
                                        <div ng-show="todo.isBeingEdited" class="editing pull-right">
                                            <input class="editing-label" type="text" ng-model="todo.updatedDescription">
                                            <select ng-model="todo.updatedPriority">
                                                <option value="1" ng-selected="todo.updatedPriority === 1">1. Urgent</option>
                                                <option value="2" ng-selected="todo.updatedPriority === 2">2. High</option>
                                                <option value="3" ng-selected="todo.updatedPriority === 3">3. Moderate</option>
                                                <option value="4" ng-selected="todo.updatedPriority === 4">4. Low</option>
                                            </select>
                                            <!-- delete todo item -->
                                            <button class="btn btn-primary pull-right" ng-click="vm.deleteToDo(todo, $index)">Delete</button>
                                            <button type="btn" class='btn btn-primary pull-right' ng-click="vm.saveToDo(todo)">Save</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer text-right">
                            <form class="form-inline" id="newItemForm">
                                <div class="form-group">
                                    <label for="newToDoDescription">New ToDo Item: </label>
                                    <input type="text" ng-model="vm.newToDo.description" id="newToDoDescription">
                                </div>
                                <div class="form-group">
                                    <label for "newToDoPriority">Priority: </label>
                                    <select ng-model="vm.newToDo.priority" id="newToDoPriority">
                                        <option value="1">1. Urgent</option>
                                        <option value="2">2. High</option>
                                        <option value="3">3. Moderate</option>
                                        <option value="4">4. Low</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary" ng-click="vm.addToDo(vm.newToDo)">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script type="text/javascript" src="bower_components/angular-click-outside/clickoutside.directive.js"></script>
    <script type="text/javascript" src="bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/VSTDA.ctrl.js"></script>
    <script type="text/javascript" src="app/VSTDA.factory.js"></script>
</body>

</html>